body{
	font-family: Lato;
	margin: 0 auto 0 auto;
	width: 100%;
	text-align: center;
	margin: 20px 0px 20px 0px;
}

h1{
	font-size: 3.0em;
	color: #525252
}

.box{
	background: white;
	width: 400px;
	border-radius: 10px;
	margin: 0 auto 0 auto;
	padding: 0px 0px 50px 0px;
	border: #F3F3F3 4px solid;
}

.email{
	background: #ecf0f1;
	border: #ccc 1px solid;
	padding: 8px;
	width: 250px;
	font-size: 1em;
	margin-top: 10px
	border-radius: 7px;
	color: #AAAAAA;
}

.btn{
	background: #2ecc71;
	width: 125px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	border-radius: 7px;
	border: #27ae60 1px solid;

	margin-top: 20px;
	margin-bottom: 20px;
	/*float: center;*/
	align-content: center;
	margin-left: 16px;
	font-weight: bold;
}

.btn:hover{
	background: #2CC06B;
}